<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--接口Settings-->
		<add key="getToken" value="https://api.weixin.qq.com/cgi-bin/token"/>
		<add key="sendMsg" value="https://api.weixin.qq.com/cgi-bin/message/template/send"/>
		<add key="weatherApi" value="https://restapi.amap.com/v3/weather/weatherInfo"/>
		<add key="cityCode" value="310117"/>
		<add key="hitokoto" value="https://v1.hitokoto.cn"/>

		<!--公众号Setting-->
		<add key="morningTemplateId" value="模板ID"/>
		<add key="eveningTemplateId" value="模板ID"/>
		<add key="weatherKey" value="天气api的key"/>
		<add key="appId" value="公众号的appid"/>
		<add key="appsSecret" value="公众号的secret"/>
		<add key="toUser" value="openId1,openId2"/>

		<!--MyInfo-->
		<add key="boyBirth" value="1997-5-5"/>

		<!--HerInfo-->
		<add key="girlBirth" value="1997-5-1"/>
		<add key="getUpTime" value="08:00"/>

		<!--Ours-->
		<add key="anniversaryDay" value="2021-4-1"/>
		<add key="firstMeetingDay" value="2021-1-1"/>
		<add key="salaryDay" value="5"/>
		<add key="startTime" value="2022-8-2"/>
	</appSettings>
</configuration>